.one {
    line-height: 4;
    letter-spacing: 2px;
}

.two {
    word-spacing: 13px;
    color: brown;
}

a {
    height: 100px;
    width: 100px;
    background-color: indianred;
    color: black;
    border: 3px double black;
}